@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face{
    font-family: 'FonteLogo' ;
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

header#cabecalho{
    border-bottom: 1px #646464 solid;
    height:150px;
    background:url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #646464;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    padding: 0px;
    margin-bottom:0px;
}

header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}

body{
    background-color:#dddddd;
    color: black;
    font-family: Arial,sans-serif;
}

div#interface{
    width: 1200px;
    background-color: #ffffff;
    margin:-20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
}

p{
    text-align: justify;
    text-indent: 50px;
}

a{
    text-decoration: none;
    color: #606060;
}

a:hover{
    text-decoration: underline;
}

/*Estilo de imagens*/

figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;

}

figure.foto-legenda img{
    width:100%;
    height: 100%;
}

figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    color: white;
    top: 0px;
    background-color: rgba(0, 0, 0, .5);
    transition: 0.5s;
    width: 100%;
    height: 100%;
    padding:10px;
    box-sizing: border-box;
}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}

header#cabecalho img#icone{
    position: absolute;
    top: 70px;
    left: 1100px;
}

/*Estilo de menu*/

nav#menu{
    display:block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top:-20px;
    left: 630px;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding:10px;
    margin:2px;
    color: #000000;
    text-decoration: none;
}

nav#menu li:hover {
    background-color: #606060;
    color: #ffffff;
    transition: 0.5s;
}

nav#menu h1{
    display: none;
}


/*Formatação das seções*/
section#corpo{
    width:680px;
    display: block;
    float: left;
    border-right:1px solid #606060;
    padding: 15px;
}

article#noticia-principal h2{
    font-size:13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px;
}

header#cabecalho-artigo h1{
    font-family: "FonteLogo", sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 2px;
    margin-top: 0px;
    text-align: left;
}

.direita{
    text-align: right;
}

header#cabecalho-artigo h2{
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px 0px 0px -10px;
    
}

header#cabecalho-artigo h3{
    font-size: 12px;
    color: #606060;
}

table#tabelaspec{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin: auto;
}

table#tabelaspec td{
    border: 1px solid #606060;
    padding: 10px;
}

table#tabelaspec td.ce{
    color: #ffffff;
    background:#646464;
    vertical-align: top;
    font-weight: bold;
    text-align: right;
}

table#tabelaspec td.cd{
    background:#cecece;
}

table#tabelaspec caption{
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#tabelaspec caption span{
    display: block;
    float: right;
    font-size: 10pt;
    color: #000000;
    margin-top: 10px;
}

aside#lateral{
    width:450px;
    display: block;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#lateral h1{
    font-family: "FonteLogo", sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#lateral h2{
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
}

footer#rodape{
    clear: both;
    border-top: 1px solid #606060;
    text-align: center;
    padding: 10px;
}

area{
    outline: 0;
}

video#video1{
    display:block;
    position: relative;
    width:680px;
}

video#video2{
    display:block;
    position: relative;
    width:450px;
    top: -15px;
}